body {
  margin-top: 3vw;
  margin-left: 3vw;
  font-size: 16px;
  max-width: 800px;
}

/* リスト全体の左側に余白を作る */
ul, ol {
    padding-left: 2em !important;
    margin-bottom: 1em;
}

/* ネストされたリストにさらにインデントをつける */
ul ul, ul ol, ol ul, ol ol {
    margin-left: 1.5em;
    margin-bottom: 0;
}

/* リストのマーカー（点）を表示させる */
ul {
    list-style-type: disc !important;
}
